.dialog-wrp{
  max-width: 350px;

  md-input{
    width: 100%;
    margin-bottom: 15px;
  }

  md-dialog-actions{
    button{
      width: 49%;
      justify-content: center;
    }
  }
  span.alert-danger{
    color: red;
    font-style: italic;
  }
}