<div class="dialog-wrp">
    <p class="dialog-title" md-dialog-title>Create new project</p>

    <form [formGroup]="projectForm" novalidate onsubmit="return false;">
        <md-input 
            [(ngModel)]="project.name" 
            formControlName="projectName"
            autocomplete="off" 
            dividerColor="{{ formErrors.projectName ? 'warn' : 'primary' }}"
            placeholder="Name">
            
            <md-hint>
                <span class="alert-danger" *ngIf="formErrors.projectName">
                    {{formErrors.projectName}}
                </span>
            </md-hint>
        </md-input>

        <md-checkbox [(ngModel)]="project.isVisible" formControlName="isVisible">
            Is project visible
        </md-checkbox>

        <md-dialog-actions>
            <button type="button" (click)="create()" md-button [disabled]="isCreateInProcess">
                Create
                <md-spinner *ngIf="isCreateInProcess"></md-spinner>
            </button>
            <button type="button" (click)="close()" md-button>Cancel</button>
        </md-dialog-actions>
    </form>
</div>