<md-toolbar color="primary" layout="row" layout-wrap layout-sm="column">
    <section  layout-align="start" >
        <button *ngIf="isAuth()" md-button class="md-primary" routerLink="/dashboard">Dashboard</button>
    </section>

    <section layout-align="end">
        <button *ngIf="!isAuth()" md-button routerLink="/login">Login</button>
        <button *ngIf="!isAuth()" md-button routerLink="/registration">Registration</button>
        <button *ngIf="isAuth()" md-button (click)="logout()">Log out</button>
    </section>
</md-toolbar>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
