<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                {{ title }}
            </span>
        </div>

        <!-- Main components -->
        <ul class="nav navbar-nav">
            <li><a *ngIf="isAuth()" routerLink="/dashboard">Dashboard</a></li>
        </ul>

        <!-- Some shit stuff -->
        <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf="!isAuth()" routerLink="/login">Log in</a></li>
            <li><a *ngIf="!isAuth()" routerLink="/registration">Registration</a></li>
            <li><a *ngIf="isAuth()" (click)="logout()">Log out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
