<div class="project-list-wrp">
    <button md-fab (click)="openCreateProjectDialog()" class="add-fab-button">
        <md-icon>add</md-icon>
    </button>
    <div *ngIf="isProjectsPresent()" class="project-list">
        <md-list>
            <div *ngFor="let project of projectsArray">
                <project-list-item [project]="project"></project-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
    <div flex *ngIf="!isProjectsPresent()">
        <p>There are no projects yet</p>
    </div>
</div>