<div class="project-list-wrp">
    <button md-fab (click)="openCreateProjectDialog()" class="add-fab-button">
        <md-icon>add</md-icon>
    </button>
    <div *ngIf="isProjectsPresent()" class="project-list">
        <md-list *ngFor="let project of projectsArray">
            <md-list-item>
                <md-icon md-list-avatar>
                    insert_photo
                </md-icon>

                <div class="project-container">
                    <div class="info-container" md-line>
                        <span class="name">
                            {{project.name}}
                        </span>
                        <span class="description">
                            Some description
                        </span>
                    </div>
                    
                    <button md-mini-fab class="settings-fab" color="primary" (click)="openProjectSettings(project)">
                        <md-icon>
                            settings
                        </md-icon>
                    </button>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div flex *ngIf="!isProjectsPresent()">
        <p>There are no projects yet</p>
    </div>
</div>