<md-toolbar color="primary" class="navigation-toolbar">
    <div class="primary-buttons">
        <button *ngIf="isAuth()" md-button class="md-primary" routerLink="/dashboard">Dashboard</button>
    </div>

    <div class="secondary-buttons">
        <button *ngIf="!isAuth()" md-button routerLink="/login">Login</button>
        <button *ngIf="!isAuth()" md-button routerLink="/registration">Registration</button>
        <button *ngIf="isAuth()" md-button (click)="logout()">Log out</button>
    </div>
</md-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
